<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="layout/header.html :: header">
</head>
<body>

    <div th:fragment="navbar">
        <!-- begin fixed navbar -->
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <form th:action="@{/logout}" method="post" class="navbar-form navbar-right" role="form">
                    <button type="submit" class="btn btn-link">Logout</button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#" th:href="@{/user/profile}" th:if="${#httpServletRequest.remoteUser != null}" th:text="${#httpServletRequest.remoteUser}">User Email Address</a></li>
                </ul>
            </div>
        </div><!--end fixed navbar-->
    </div>

</body>
</html>