<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="layout/header.html :: header (#{error})">
</head>
<body>
    <h2 th:text="${errCode}">ErrorCode:</h2>
    <h2 th:text="${errMsg}">Message</h2>

    <div th:text="|Failed URL: ${url}|">Failed URL</div>
    <div th:each="items : ${exception.stackTrace}" th:text="${items}">Exception</div>
</body>
</html>