<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="layout/header.html :: header">
</head>
<body>

    <div th:fragment="add-user">
        <h2 class="sub-header">Add New User:</h2>
        <form action="#" th:action="@{/admin/user/add}" th:object="${user}" method="post" class="form-horizontal" role="form">
            <div th:if="${#fields.hasErrors('*')}" id="errMsg" class="alert alert-danger">
                <ul>
                    <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
                </ul>
            </div>
            <div class="form-group">
                <label class="col-lg-12">Name:</label>
                <div class="col-lg-6" th:classappend="${#fields.hasErrors('firstName')}?'has-error'">
                    <input type="text" name="firstName" th:field="*{firstName}" class="form-control" placeholder="First Name" required="true"/>
                </div>
                <div class="col-lg-6" th:classappend="${#fields.hasErrors('lastName')}?'has-error'">
                    <input type="text" name="lastName" th:field="*{lastName}" class="form-control" placeholder="Last Name" required="true"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-12">Common Name:</label>
                <div class="col-lg-12" th:classappend="${#fields.hasErrors('commonName')}?'has-error'">
                    <input type="text" name="commonName" th:field="*{commonName}" class="form-control" placeholder="Common Name" required="true"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-12">Email:</label>
                <div class="col-lg-12" th:classappend="${#fields.hasErrors('email')}?'has-error'">
                    <input type="email" name="email" th:field="*{email}" class="form-control" placeholder="Email Address" required="true"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-12">
                    <button type="submit" class="btn btn-success">Add</button>
                    <button type="reset" class="btn btn-default">Reset</button>
                </div>
            </div>
        </form>
    </div>

</body>
</html>