<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="layout/header.html :: header (#{admin.home})">
</head>
<body>

    <div th:include="layout/navbar-top.html :: navbar">Navbar</div>
    <div class="container">
        <h1 class="well well-lg" th:text="${message}">Message</h1>
    </div>

</body>
</html>